<div class="container mx-auto max-w-xl border border-gray-200 p-4 mt-4 rounded">
  <% if @questions.present? %>
    <div data-controller="answers">
      <h3 class="text-xl mb-2">Questions</h3>

      <% @questions.each.with_index(1) do |question, index| %>
        <% answer = @answers.find_by_question_id(question) %>

        <div class="mb-2 border-b border-gray-200 p-2">
          <%= index %>. <%= question.question %>

          <div data-answers-target="answerList">
            <% if answer.present? %>
              <%= render 'answers/show', answer: answer %>
            <% elsif current_user.candidate? %>
              <%= render 'answers/answer', answer: Answer.new, question: question %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex justify-center">
      <% msg = current_user.employer? ? 'Mark as Reviewed' : 'Submit & End Test' %>
      <%= button_to msg, booklet_path(@booklet), method: :put, class: "bg-transparent hover:bg-green-500 text-green-600 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded cursor-pointer" %>
    </div>
  <% else %>
    <% if @booklet.present? %>
      You have successfully submitted your answers for review.
    <% else %>
      Test is not yet scheduled. Please check with the interviewer.
    <% end %>
  <% end %>
</div>



<!--<div class="relative">-->
<!--  <div class="absolute inset-0 w-screen h-screen bg-pink-500 text-white flex items-center justify-center text-5xl transition-all ease-in-out duration-1000 transform translate-x-0 slide">Hello</div>-->
<!--  <div class="absolute inset-0 w-screen h-screen bg-purple-500 text-white flex items-center justify-center text-5xl transition-all ease-in-out duration-1000 transform translate-x-full slide">There</div>-->
<!--  <div class="absolute inset-0 w-screen h-screen bg-teal-500 text-white flex items-center justify-center text-5xl transition-all ease-in-out duration-1000 transform translate-x-full slide">Booya!</div>-->
<!--  <div class="fixed bottom-0 right-0 bg-white w-16 h-16 flex items-center justify-center text-black">&#x276F;</div>-->
<!--  <div class="fixed bottom-0 right-0 bg-white w-16 h-16 mr-16 border-r border-gray-400 flex items-center justify-center text-black">&#x276E;</div>-->
<!--</div>-->

<!--<script>-->
<!--  function nextSlide(){-->
<!--    let activeSlide = document.querySelector('.slide.translate-x-0');-->
<!--    activeSlide.classList.remove('translate-x-0');-->
<!--    activeSlide.classList.add('-translate-x-full');-->

<!--    let nextSlide = activeSlide.nextElementSibling;-->
<!--    nextSlide.classList.remove('translate-x-full');-->
<!--    nextSlide.classList.add('translate-x-0');-->
<!--  }-->

<!--  function previousSlide(){-->
<!--    let activeSlide = document.querySelector('.slide.translate-x-0');-->
<!--    activeSlide.classList.remove('translate-x-0');-->
<!--    activeSlide.classList.add('translate-x-full');-->

<!--    let previousSlide = activeSlide.previousElementSibling;-->
<!--    previousSlide.classList.remove('-translate-x-full');-->
<!--    previousSlide.classList.add('translate-x-0');-->
<!--  }-->
<!--</script>-->



<!--<div class="carousel relative shadow-2xl bg-white">-->
<!--  <div class="carousel-inner relative overflow-hidden w-full">-->
<!--Slide 1-->
<!--    <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">-->
<!--    <div class="carousel-item absolute opacity-0" style="height:50vh;">-->
<!--      <div class="block h-full w-full bg-indigo-500 text-white text-5xl text-center">Slide 1</div>-->
<!--    </div>-->
<!--    <label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>-->
<!--    <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>-->

<!--Slide 2-->
<!--    <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">-->
<!--    <div class="carousel-item absolute opacity-0" style="height:50vh;">-->
<!--      <div class="block h-full w-full bg-orange-500 text-white text-5xl text-center">Slide 2</div>-->
<!--    </div>-->
<!--    <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>-->
<!--    <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>-->

<!--Slide 3-->
<!--    <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">-->
<!--    <div class="carousel-item absolute opacity-0" style="height:50vh;">-->
<!--      <div class="block h-full w-full bg-green-500 text-white text-5xl text-center">Slide 3</div>-->
<!--    </div>-->
<!--    <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>-->
<!--    <label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>-->

<!-- Add additional indicators for each slide-->
<!--    <ol class="carousel-indicators">-->
<!--      <li class="inline-block mr-3">-->
<!--        <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>-->
<!--      </li>-->
<!--      <li class="inline-block mr-3">-->
<!--        <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>-->
<!--      </li>-->
<!--      <li class="inline-block mr-3">-->
<!--        <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>-->
<!--      </li>-->
<!--    </ol>-->

<!--  </div>-->
<!--</div>-->

<!--<style>-->
<!--  .carousel-open:checked + .carousel-item {-->
<!--    position: static;-->
<!--    opacity: 100;-->
<!--  }-->
<!--  .carousel-item {-->
<!--    -webkit-transition: opacity 0.6s ease-out;-->
<!--    transition: opacity 0.6s ease-out;-->
<!--  }-->
<!--  #carousel-1:checked ~ .control-1,-->
<!--  #carousel-2:checked ~ .control-2,-->
<!--  #carousel-3:checked ~ .control-3 {-->
<!--    display: block;-->
<!--  }-->
<!--  .carousel-indicators {-->
<!--    list-style: none;-->
<!--    margin: 0;-->
<!--    padding: 0;-->
<!--    position: absolute;-->
<!--    bottom: 2%;-->
<!--    left: 0;-->
<!--    right: 0;-->
<!--    text-align: center;-->
<!--    z-index: 10;-->
<!--  }-->
<!--  #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,-->
<!--  #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,-->
<!--  #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {-->
<!--    color: #2b6cb0;  /*Set to match the Tailwind colour you want the active one to be */-->
<!--  }-->
<!--</style>-->
